<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2" *ngIf="planestudio?.planEstudio ; else forminfo">
            <form class="form-horizontal" [formGroup]="rForm" (ngSubmit)="updatePlanEstudio(rForm.value)">
                <div class="form-group">
                    <label class="control-label col-sm-12">Nombre</label>
                    <div class="col-sm-12">
                        <input class="form-control" [value]="planestudio.planEstudio.nombre" type="text" formControlName="nombre">
                        <small [hidden]="rForm.controls.nombre.valid">
                            El nombre es requerido
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-12">Tipo</label>
                    <div class="col-sm-12">
                        <select class="form-control col-sm-12" formControlName="tipo">
                            <option *ngFor="let tipo of tiposJornada" [value]="planestudio.planEstudio.tipo">{{tipo}}</option>
                        </select>
                        <small [hidden]="rForm.controls.tipo.valid">
                            Debe seleccionar alguna opcion
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-12">Horas de Libre Disposicion</label>
                    <div class="col-sm-12">
                        <input class="form-control" [value]="planestudio.planEstudio.horasLibreDisposicion" type="number" formControlName="horasLibreDisposicion">
                        <small [hidden]="rForm.controls.horasLibreDisposicion.valid">
                            Las horas de libre disposicion son requeridas
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12">Total tiempo minimo de Formacion General</label>
                    <div class="col-sm-12">
                        <input class="form-control" [value]="planestudio.planEstudio.totalTiempoMinFG" type="number" formControlName="totalTiempoMinFG">
                        <small [hidden]="rForm.controls.totalTiempoMinFG.valid">
                            El tiempo de Formacion General es requerido
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12">Total tiempo minimo de Formacion Diferenciada</label>
                    <div class="col-sm-12">
                        <input class="form-control" [value]="planestudio.planEstudio.totalTiempoMinFD" type="number" formControlName="totalTiempoMinFD">
                        <small [hidden]="rForm.controls.totalTiempoMinFD.valid">
                            El tiempo de Formacion Diferencial es requerido
                        </small>
                    </div>
                </div>
                <div class="col-sm-12" formArrayName="asignaturas">
                    <h5>Añadir asignatura
                        <button class="btn btn-secundary col-sm-2 float-right" type="button" >
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    </h5>
                    <br>
                    <div class="form-group row" *ngFor="let asignatura of rForm.controls.asignaturas.controls; let i=index">
                        <div class="col-sm-12 text-center">
                            <label class="col-form-label">#{{i+1}} Asignatura</label>
                        </div>
                        <div class="col-sm-12" [formGroupName]="i">
                            <div class="col-sm-12">
                                <label class="col-sm-1 col-form-label">Nombre</label>
                                <div class="col-sm-12">
                                    <input class="form-control form-control col-sm-12" [value]="planestudio.planEstudio.asignaturas[i].nombre" type="text" formControlName="nombre">
                                    <small [hidden]="rForm.controls.asignaturas.controls[i].controls.nombre.valid">
                                        El nombre es requerido
                                    </small>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-form-label">Horas Mensuales</label>
                                    <input class="form-control form-control col-sm-12" [value]="planestudio.planEstudio.asignaturas[i].horasMensuales" type="number"
                                        formControlName="horasMensuales">
                                    <small [hidden]="rForm.controls.asignaturas.controls[i].controls.horasMensuales.valid">
                                        Las horas mensuales son requeridas
                                    </small>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-form-label">Horas Anuales</label>
                                    <input class="form-control form-control col-sm-12" [value]="planestudio.planEstudio.asignaturas[i].horasAnuales" type="number"
                                        formControlName="horasAnuales">
                                    <small [hidden]="rForm.controls.asignaturas.controls[i].controls.horasAnuales.valid">
                                        Las horas anuales son requeridas
                                    </small>
                                </div>
                                <br>
                                <div class="text-center">
                                    <button class="btn btn-danger col-sm-5" (click)=removeAsignatura(i)>
                                        <i class="fas fa-trash-alt"></i> Borrar
                                    </button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <div formArrayName="asignaturas" class="well well-lg">
                    <div *ngFor="let asignatura of asignaturas.controls; let i=index" [formGroupName]="i" >
                      <!-- The repeated address template -->
                      <h4>Address #{{i + 1}}</h4>
                      <div style="margin-left: 1em;">
                        <div class="form-group">
                          <label class="center-block">Street:
                            <input class="form-control" formControlName="nombre">
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="center-block">City:
                            <input class="form-control" formControlName="horasMensuales">
                          </label>
                        </div>
                        <div class="form-group">
                          <label class="center-block">Zip Code:
                            <input class="form-control" formControlName="horasAnuales">
                          </label>
                        </div>
                      </div>
                      <br>
                      <!-- End of the repeated address template -->
                    </div>
                    <button (click)="addAsignatura()" type="button">Add a Secret Lair</button>
                  </div>

                <div class="form-group text-center">
                    <div class="col-sm-offset-2 col-sm-12">
                        <input type="submit" class="btn btn-primary col-sm-6" value="Aceptar Cambios" [disabled]="!rForm.valid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{ rForm.value | json}}
<!-- Este se ejecutará cuando se registre la nueva evaluacion -->
<ng-template #forminfo>
    <div class="form-container">
        <h2>{{ mensaje }}</h2>
    </div>
</ng-template>